#h1{
    font-size: xx-large;
}
#outer{
    height: 450px;
    width: 1500px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}
.inner{
    height: 400px;
    width: 250px;
    border: 2px solid white;
    margin: 30px;
    margin-top: 20px;
}
#images{
    height: 250px;
    width: 250px;
}
.BUY{
    border-radius: 50px;
    background-color: red;
    height: 50px;
    width: 150px;
}
#outer2{
    height: 450px;
    width: 1500px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}
.inner2{
    height: 400px;
    width: 250px;
    border: 2px solid white;
    margin: 30px;
    margin-top: 20px;
}
#outer3{
    height: 450px;
    width: 1500px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}
.inner3{
    height: 400px;
    width: 250px;
    border: 2px solid white;
    margin: 30px;
    margin-top: 20px;
}
@media(min-width:400px) and (max-width:800px){
     #outer,
     #outer2,
     #outer3{
       flex-direction: column;
       padding-left: 10px;
       align-items: center;
     }
     .inner,
    .inner2,
    .inner3{
        flex-direction: column;
        margin: 10px;
      }
      #images{
        height: 150px;
        width: 150px;
      }
}